:root {
  --main-title-color: #2e2f42;
  --main-bgr-color: #404bbf;
  --second-title-color: #434455;
  --third-title-color: #4d5ae5;
  --fourth-color: #ffffff;
  --logo-color: #f4f4fd;
  --logo-text-color: #e7e9fc;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-title-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* HEADER */

.header {
  border-bottom: 1px solid var(--logo-text-color);
}

.header-container {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-list {
  display: flex;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list-item {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--main-title-color);
  transition: color var(--transition-dur-and-func);
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: var(--main-bgr-color);
}
.active {
  color: var(--main-bgr-color);
}
.active::after {
  position: absolute;
  opacity: 1;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--main-bgr-color);
  border-radius: 2px;
}

.contacts {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--second-title-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);
}

.adress-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adress {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 40px;
}

.contacts:hover,
.contacts:focus {
  color: var(--main-bgr-color);
}
/* HEADER */

/* STUDIO */

.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-image: linear-gradient(
      to top,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-color: var(--main-title-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 500px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--fourth-color);
}

.hero-button {
  color: var(--fourth-color);
  background: var(--third-title-color);
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--main-bgr-color);
}

.products-logo {
  display: flex;
  justify-content: center;
  padding: 24px 100px;
}
.products-items {
  display: flex;
  justify-content: center;
}
.products-icon-bgr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
  background-color: var(--logo-color);
}
.products-item:last-child {
  margin-right: 0;
}

.products-icon {
  width: 64px;
  height: 64px;
  fill: var(--main-title-color);
}

.products {
  padding-top: 120px;
  padding-bottom: 0;
}
.products-main {
  display: flex;
  gap: 24px;
  padding-bottom: 0;
}

.products-list {
  flex-basis: calc((100% - 72px) / 4);
}

.products-list:last-child {
  margin-right: 0;
}
.products-title {
  margin-top: 8px;
}

.products-title,
.team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.products-text,
.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.products-text {
  justify-content: center;
}

.title-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}

.title,
.team-title,
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}

.picture {
  display: flex;
  margin-left: auto;
}

.picture:not(:last-child) {
  margin-right: 24px;
}

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--logo-color);
}
.team-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}
.team-list,
.social-list-item {
  margin-right: 24px;
}
.team-list {
  justify-content: center;
  border-color: var(--logo-color);
  background-color: var(--fourth-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-list:last-child,
.social-list-item:last-child {
  margin-right: 0;
}

.team-content {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.social-list {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--third-title-color);
  transition: background-color var(--transition-dur-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--main-bgr-color);
}
.social-list-icon {
  fill: var(--logo-color);
}
/* STUDIO */

/* PORTFOLIO */

.main-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  border-radius: 4px;
}

.button-list-icon {
  margin-right: 24px;
}

.button-list-icon:last-child {
  margin-right: 0;
}

.main-btn {
  color: var(--third-title-color);
  padding: 12px 24px;
  border-radius: 4px;
  border: 0;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.main-btn:hover,
.main-btn:focus {
  color: var(--fourth-color);
  background: var(--main-bgr-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-ptf {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--main-title-color);
}
.ptf-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.main-item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.main-list {
  flex-basis: calc((100% - 48px) / 3);
  border: 1px solid var(--logo-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--transition-dur-and-func);
}

.main-list:hover,
.main-list:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.main-list:nth-last-child(3n) {
  margin-right: 0;
}

.main-list-link {
  display: block;
}
/* PORTFOLIO */

/* CUSTOMERS */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  display: flex;
  justify-content: center;
}
.customers-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

.customers-item {
  width: calc((100% -120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 16px 32px;
  color: #8e8f99;
  transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func);
}
.customers-icon {
  fill: currentColor;
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--main-bgr-color);
  color: var(--main-bgr-color);
}

/* CUSTOMERS */

/* FOOTER */
.footer-desc {
  display: flex;
}

.footer-social {
  display: flex;
}

.footer-logo-item {
  max-width: 264px;
  margin-right: 120px;
}
.accent {
  color: var(--third-title-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--logo-color);
  text-decoration: none;
}

.logo-footer-text {
  width: 264px;
  margin-top: 16px;
}

.logo-footer-text,
.social-media {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-text-color);
}

.logo-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--main-title-color);
}

.logo-head,
.logo-head-portfolio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-right: 56px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-head-portfolio {
  border-bottom: 1px solid var(--logo-text-color);
}

/* Social-media */

.footer-social-media {
  margin-right: 80px;
}

.social-media-list {
  display: flex;
  gap: 16px;
  max-width: 210px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}
.social-media-icon {
  fill: var(--logo-color);
}

.social-media-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

/* Social-media */

/* footer-form */

.footer-form-title {
  margin-bottom: 16px;
  color: var(--fourth-color);
}
.footer-form {
  display: flex;
  align-items: center;
}
.footer-form-wrapper {
  margin-right: 24px;
}
.footer-form-input {
  padding: 8px 16px;
  min-width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-text-color);
}
.footer-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  display: inline-flex;
  gap: 16px;
  color: var(--fourth-color);
  background: var(--third-title-color);
  padding: 8px 24px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 165px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--transition-dur-and-func);
}
.footer-form-button:hover,
.footer-form-button:focus {
  background-color: var(--main-bgr-color);
}

/* footer-form */

/* FOOTER */

/* Modal-window */

.main-list-link-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-and-func);

  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
  line-height: 1.5;

  color: var(--logo-color);
  background-color: var(--third-title-color);
}

.main-list-link:hover .overlay,
.main-list-link:focus .overlay {
  transform: translate(0, 0);
}
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 576px;
  background-color: #fcfcfc;
  padding: 72px 24px 24px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--logo-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color var(--transition-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--main-bgr-color);
}

.modal-close-btn-icon {
  transition: fill var(--transition-dur-and-func);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--fourth-color);
}

.modal-form-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 8px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-desc {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 16px;
  transition: border-color var(--transition-dur-and-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--third-title-color);
}

.modal-form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--third-title-color);
}

.modal-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-comment {
  display: block;
  width: 100%;
  min-height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;
  transition: border-color var(--transition-dur-and-func);

  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #000000;
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--third-title-color);
}

.form-privacy-policy {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin-top: 8px;
  margin-bottom: 24px;
}

.checkbox-border {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  transition: background-color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
}

.checkbox-privacy-policy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  overflow: hidden;
}
.privacy-policy-icon {
  opacity: 0;
  transition: opacity var(--transition-dur-and-func);
}

.checkbox-privacy-policy:checked + .checkbox-border {
  border-color: var(--third-title-color);
  background-color: var(--third-title-color);
}
.checkbox-privacy-policy:checked + .checkbox-border .privacy-policy-icon {
  opacity: 1;
  fill: #f4f4fd;
}
.checkbox-privacy-policy:focus + .checkbox-border {
  outline: 1px solid rgb(16, 16, 16);
}
.privacy-policy-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.modal-form-submit {
  min-width: 160px;
  align-self: center;
  color: var(--fourth-color);
  background: var(--third-title-color);
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--main-bgr-color);
}

/* Modal-window */
